<div class="hr-payroll-solutions">
  <app-hero
    [backgroundImage]="hrPayroll.image"
    [header]="hrPayroll.header"
    [text]="hrPayroll.text"
  >
  </app-hero>

  <app-assistance
    [header]="assistance.header"
    [subheader]="assistance.subheader"
    [services]="services"
  ></app-assistance>

  <app-process
    [process]="process"
    [phases]="phases"
    [stepFeatures]="stepFeatures"
  ></app-process>

  <app-features
    [header]="features.header"
    [subheader]="features.subheader"
    [features]="featuresContent"
  ></app-features>

  <app-cta [header]="cta.header" [text]="cta.text"></app-cta>
</div>
