<mat-toolbar color="primary" class="header">
  <div class="logo">
    <img
      src="assets/shared/cozen.jpg"
      alt="Cozen Logo"
      class="logo-img"
      loading="lazy"
    />
  </div>

  <!-- Desktop Navigation -->
  <nav class="desktop-nav">
    @for (item of navItems; track $index) { @if (!item.isDropdown) {
    <button
      mat-button
      [routerLink]="item.route"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ item.label }}
    </button>
    } @if (item.isDropdown) {
    <button
      mat-button
      [matMenuTriggerFor]="solutionsMenu"
      (mouseenter)="menuTrigger.openMenu()"
      #menuTrigger="matMenuTrigger"
      (menuOpened)="toggleArrow()"
      (menuClosed)="toggleArrow()"
    >
      {{ item.label }}
      <span class="icon-{{ !isOpen ? 'up-arrow' : 'down-arrow' }}"></span>
    </button>

    <mat-menu #solutionsMenu="matMenu" yPosition="below" [hasBackdrop]="false">
      <div (mouseleave)="menuTrigger.closeMenu()">
        @for (subItem of item.submenu; track $index) {
        <div class="dropdown-item">
          <a [routerLink]="subItem.route">
            <div class="dropdown-content">
              <span class="dropdown-label">{{ subItem.label }}</span>
            </div>
          </a>
        </div>
        }
      </div>
    </mat-menu>
    } }
  </nav>

  <!-- Mobile Menu Button -->
  <button mat-icon-button class="mobile-menu-btn" (click)="toggleMobileMenu()">
    <mat-icon>{{ isMobileMenuOpen ? "close" : "menu" }}</mat-icon>
  </button>

  <!-- Mobile Navigation -->
  <div class="mobile-nav" [class.open]="isMobileMenuOpen">
    @for (item of navItems; track $index) { @if (!item.isDropdown) {
    <button mat-button [routerLink]="item.route" (click)="toggleMobileMenu()">
      {{ item.label }}
    </button>
    } @if (item.isDropdown) {
    <button
      mat-button
      [matMenuTriggerFor]="mobileSolutionsMenu"
      #mobileMenuTrigger="matMenuTrigger"
    >
      {{ item.label }}
      <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu #mobileSolutionsMenu="matMenu">
      @for (subItem of item.submenu; track $index) {
      <button
        mat-menu-item
        [routerLink]="subItem.route"
        (click)="toggleMobileMenu()"
      >
        {{ subItem.label }}
      </button>
      }
    </mat-menu>
    } }
  </div>
</mat-toolbar>
