<div class="global-solutions">
  <app-hero
    [backgroundImage]="global.image"
    [header]="global.header"
    [text]="global.text"
  >
  </app-hero>

  <app-assistance
    [header]="assistance.header"
    [subheader]="assistance.subheader"
    [services]="services"
  ></app-assistance>

  <app-process
    [header]="process.header"
    [subheader]="process.subheader"
    [phases]="phases"
  ></app-process>

  <section class="technologies-section">
    <div class="container">
      <div class="header">
        <h2>{{ technologiesSection.header }}</h2>
        <p>{{ technologiesSection.subheader }}</p>
      </div>

      <div class="tech-grid">
        <div *ngFor="let tech of technologies" class="tech-card">
          <span>{{ tech }}</span>
        </div>
      </div>
    </div>
  </section>

  <app-cta [header]="cta.header" [text]="cta.text"></app-cta>
</div>
