<div class="mortgage-solutions">
  <app-hero
    [backgroundImage]="mortgage.image"
    [header]="mortgage.header"
    [text]="mortgage.text"
  >
  </app-hero>

  <app-assistance
    [header]="assistance.header"
    [subheader]="assistance.subheader"
    [services]="services"
  ></app-assistance>

  <app-process
    [header]="process.header"
    [subheader]="process.subheader"
    [phases]="phases"
  ></app-process>

  <app-features
    [header]="features.header"
    [subheader]="features.subheader"
    [features]="featuresContent"
  ></app-features>

  <app-cta [header]="cta.header" [text]="cta.text"></app-cta>
</div>
