<div class="mortgage-solutions">
  <!-- Hero Section -->
  <app-hero
    [backgroundImage]="mortgage.image"
    [header]="mortgage.header"
    [text]="mortgage.text"
  >
  </app-hero>

  <!-- Services Section -->
  <app-assistance
    [header]="assistance.header"
    [subheader]="assistance.subheader"
    [services]="services"
  ></app-assistance>

  <!-- Process Section -->
  <app-process
    [header]="process.header"
    [subheader]="process.subheader"
    [phases]="phases"
  ></app-process>

  <!-- Features Section -->
  <app-features
    [header]="features.header"
    [subheader]="features.subheader"
    [features]="featuresContent"
  ></app-features>

  <!-- CTA Section -->
  <app-cta [header]="cta.header" [text]="cta.text"></app-cta>
</div>
