// Cozen Logo Colors
$primary-color: #000b3d;
$accent-color: #00b2b2;
$secondary-color: #e6e8f0;

// Neutral Colors
$amber-500: #fbbf24;
$black-gray: #1a1a1a;
$black: #000000;
$blue-charcol: #374151;
$blue-gray: #111827;
$blue-white: #f0f9ff;
$gray-charcol: #6b7280;
$gray-dark: #4b5563;
$gray-light: #f9fafb;
$gray-off-white: #f3f4f6;
$lavender-gray: #e5e7eb;
$light-grayish-blue: #d1d5db;
$light-ice-blue: #e6f0ff;
$light-periwinkle: #dbeafe;
$light-sky-blue: #bfdbfe;
$light-slate-gray: #9ca3af;
$white: #ffffff;
$error: #dc2626;
