<div class="data-support-solutions">
  <app-hero
    [backgroundImage]="dataSupport.image"
    [header]="dataSupport.header"
    [text]="dataSupport.text"
  >
  </app-hero>
  <!-- Services Section -->
  <app-assistance
    [header]="assistance.header"
    [subheader]="assistance.subheader"
    [services]="services"
  ></app-assistance>

  <!-- Process Section -->
  <app-process
    [header]="process.header"
    [subheader]="process.subheader"
    [phases]="phases"
  ></app-process>

  <!-- Capabilities Section -->
  <app-features
    [header]="features.header"
    [subheader]="features.subheader"
    [features]="capabilities"
  ></app-features>

  <!-- CTA Section -->
  <app-cta [header]="cta.header" [text]="cta.text"></app-cta>
</div>
