<div class="finance-solutions">
  <app-hero
    [backgroundImage]="finance.image"
    [header]="finance.header"
    [text]="finance.text"
  >
  </app-hero>

  <app-assistance
    [header]="assistance.header"
    [subheader]="assistance.subheader"
    [services]="services"
  ></app-assistance>

  <section class="benefits-section">
    <div class="container">
      <div class="header">
        <h2>{{ benefitsHeading.title }}</h2>
        <p>{{ benefitsHeading.content }}</p>
      </div>

      <div class="benefits-grid">
        <div *ngFor="let benefit of benefits" class="benefit-card">
          <h3>{{ benefit.title }}</h3>
          <p>{{ benefit.description }}</p>
        </div>
      </div>
    </div>
  </section>

  <app-features
    [header]="features.header"
    [subheader]="features.subheader"
    [features]="expertise"
  ></app-features>

  <app-cta [header]="cta.header" [text]="cta.text"></app-cta>
</div>
