<section class="services-section">
  <div class="container">
    <div class="header">
      <h2>{{ header }}</h2>
      <p>{{ subheader }}</p>
    </div>

    <div class="services-grid">
      <div *ngFor="let service of services" class="service-card">
        <div class="card-content">
          <div class="title-wrapper">
            <i class="material-icons">{{ service.icon }}</i>
            <h3>{{ service.title }}</h3>
          </div>
          <p>{{ service.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
